@import "bootstrap-sprockets";
@import "bootstrap";

/* --- Main --- */
main {
  min-height: 550px;
  background-color: white !important;
}

/* ---Header ---*/
#menu-header{
  height: 50px;
}

#heading-link-header{
  padding-top: 0.8em;
  padding-left: 0.5em;
}

/* ---Footer---*/
#footer{
  border-top: 1px solid gray;
  #copyright-content{
    text-align: center;
  }
}

/* ---Forms--- */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
